body {
    margin: 0;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 12px!important;
    font-weight: 800!important;
}

.navbar-light .navbar-nav .nav-link:hover {
    border: 1px solid #ccc!important;
    border-radius: 8px!important;
    transition: all 0.5s ease-in-out!important;
    background-color: #000;
}


/* Home-section */

#home {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#home h1 {
    padding-top: 2rem!important;
}

#home p {
    max-width: 550px;
    margin: auto;
}


/* #navbar-nav {
    background-color: #eceeff!important;
} */

#Newsfeed .hline {
    width: 120px;
    height: 2px;
    background-color: rgb(26, 62, 180);
    margin: 16px auto 0 auto;
}

#footer .bg-primary {
    background-color: #eceeff!important;
}

#card {
    background-color: #ccc;
    height: 80vh!important;
}